@{
    ViewBag.Title = "Our Story";
}
<div class="row">
        <img src="~/Content/Images/TILLASCOPE (1).png" style="width:100%;" />
</div>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
